@page
@model ERP.Pages.RRHH.RegistrarEmpleadoModel
@{
    Layout = "_LayoutRRHH";
}

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
    }


</style>
<div class="container">
    <form method="POST">
        <h1>Agregar Empleado</h1>
        <input type="text" id="primerNombre" asp-for="primerNombre" , value="@Model.primerNombre" placeholder="Primer Nombre">
        <span asp-validation-for="primerNombre" class="text_danger"></span>

        <input type="text" id="segundoNombre" asp-for="segundoNombre" , value="@Model.segundoNombre" placeholder="Segundo Nombre">
        <span asp-validation-for="segundoNombre" class="text_danger"></span>



        <input type="text" id="primerApellido" asp-for="primerApellido" , value="@Model.primerApellido" placeholder="Primer Apellido">
        <span asp-validation-for="primerApellido" class="text_danger"></span>

        <input type="text" id="segundoApellido" asp-for="segundoApellido" , value="@Model.segundoApellido" placeholder="Segundo Apellido">
        <span asp-validation-for="segundoApellido" class="text_danger"></span>
        <br> <br />

        <!--Combobox para la dirección-->
        <label>Dirección</label>
        <br> <br />
        <label>Provincia</label>
        <select id="provincias" name="provincias" onchange="actualizarCantones()">
            @foreach (var provincia in Model.provincias)
            {
                <option value="@provincia">@provincia</option>
            }
        </select>

        <!--Seleccionar Cantón-->
        <label>Cantón</label>
        <select id="cantones" name="cantones">
            @foreach (var cantonSanJose in Model.cantonesSanJose)
            {
                <option value="@cantonSanJose">@cantonSanJose</option>
            }
        </select>

    </form>
</div>

<script>
    function actualizarCantones() {
        var provincia = document.getElementById("provincias").value;
        var cantones = document.getElementById("cantones");

        cantones.innerHTML = ''; // Se limpia el ComboBox de cantones

        var listaCantones = [];
        switch (provincia) {
            case "San José":
                listaCantones = @Html.Raw(Json.Serialize(Model.cantonesSanJose));
                break;
            case "Alajuela":
                listaCantones = @Html.Raw(Json.Serialize(Model.cantonesAlajuela));
                break;
            case "Cartago":
                listaCantones = @Html.Raw(Json.Serialize(Model.cantonesCartago));
                break;
            case "Heredia":
                listaCantones = @Html.Raw(Json.Serialize(Model.cantonesHeredia));
                break;
            case "Guanacaste":
                listaCantones = @Html.Raw(Json.Serialize(Model.cantonesGuanacaste));
                break;
            case "Puntarenas":
                listaCantones = @Html.Raw(Json.Serialize(Model.cantonesPuntarenas));
                break;
            case "Limón":
                listaCantones = @Html.Raw(Json.Serialize(Model.cantonesLimon));
                break;
        }

        // Aquí añado la lista al combo
        listaCantones.forEach(function (canton) {
            var option = document.createElement("option");
            option.value = canton;
            option.text = canton;
            cantones.add(option);
        });
    }
</script>